<div class="container">
  <div class="btn-container">
    <button type="button" class="btn btn-primary" (click)="openModal()">
      New Chef
    </button>
    <button type="button" class="btn btn-outline-danger" (click)="logout()">
      Logout
    </button>

  </div>

  <div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr class="text-center">
          <th class="col" scope="col">#</th>
          <th class="col-2" scope="col">Name</th>
          <th class="col" scope="col">Info</th>
          <th class="col-2" scope="col">Weekly Chef</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="text-center chef-row"
          *ngFor="let chef of chefs; index as i"
          (click)="openModal(i)"
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ chef.name }}
          </td>
          <td>{{ chef.info }}</td>
          <td>{{ chef.chefOfTheWeek }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
