<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button
      *ngIf="editMode"
      type="button"
      class="btn btn-outline-danger btn-delete"
      (click)="deleteItem()"
    >
      <img
        class="bi bi-trash svg-delete"
        src="assets/icons/trash.svg"
        alt="trash icon"
      />
    </button>
  </div>
  <div class="modal-body">
    <!-- Name Input -->
    <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
      <input
        ngbAutofocus
        type="text"
        class="form-control"
        id="nameInput"
        placeholder="Restaurant Name"
        ngModel
        name="name"
        required
      />
    </div>

    <!-- Chef Input -->
    <div class="mb-3">
      <label for="chefSelect" class="form-label">Chef</label>
      <select
        id="chefSelect"
        class="form-select"
        aria-label="Default select "
        ngModel
        name="chef"
        required
      >
        <option *ngFor="let chef of chefs; index as i" value="{{ chef._id }}">
          {{ chef.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="imageUrlInput" class="form-label">Image Url</label>
      <input
        type="text"
        class="form-control"
        id="imageUrlInput"
        placeholder="Chef Image Url"
        ngModel
        name="imageUrl"
      />
    </div>

    <!-- Popular Restaurant Toggle -->
    <div class="form-check form-switch">
      <label class="form-check-label" for="popularRestaurantSwitch"
        >Popular Restaurant</label
      >
      <input
        class="form-check-input"
        type="checkbox"
        id="popularRestaurantSwitch"
        ngModel
        name="popularRestaurant"
      />
    </div>
  </div>
  
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="activeModal.close('Close click')"
    >
      Close
    </button>
    <button
      type="submit"
      class="btn btn-outline-primary"
      [disabled]="!form.dirty"
    >
      {{ submitButtonText }}
    </button>
  </div>
</form>
