<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="modal-header">
    <div class="mb">
      <h4 class="modal-title">{{ title }}</h4>
      <p>(* Required Fields)</p>
    </div>
    <button
      *ngIf="editMode"
      type="button"
      class="btn btn-outline-danger btn-delete"
      (click)="deleteItem()"
    >
      <img
        class="bi bi-trash svg-delete"
        src="../../../assets/icons/trash.svg"
        alt="trash icon"
      />
    </button>
  </div>

  <div class="modal-body">
    <!-- Name Input -->
    <div class="mb-3">
      <label for="nameInput" class="form-label">*Name</label>
      <input
        ngbAutofocus
        type="text"
        class="form-control"
        id="nameInput"
        ngModel
        name="name"
        required
        [disabled]="editMode"
      />
    </div>

    <!-- Restaurant Input -->
    <div class="mb-3">
      <label for="restaurantSelect" class="form-label">*Restaurant</label>
      <select
        id="restaurantSelect"
        class="form-select"
        ngModel
        name="restaurant"
        required
      >
        <option
          *ngFor="let restaurant of restaurants; index as i"
          value="{{ restaurant._id }}">
          {{ restaurant.name }}
        </option>
      </select>
    </div>

    <!-- Components Input -->
    <div class="mb-3">
      <label for="componentsTextarea" class="form-label">*Components</label>
      <textarea
        class="form-control"
        id="componentsTextarea"
        rows="3"
        ngModel
        name="components"
        required
      ></textarea>
    </div>

    <!-- Dish Type Input -->
    <div ngModelGroup="type" name="type" class="mb-3">
      <label for="dishTimeInput" class="form-label dish-type-label">Type</label>
      <div
        *ngFor="let type of dishTypes; index as i"
        class="btn-group"
        role="group"
        id="dishTimeInput"
      >
        <input
          type="checkbox"
          class="btn-check btn-type"
          id="btn-check-outlined-{{ i }}"
          autocomplete="off"
          [ngModel]="false"
          name="{{ type.value }}"
        />
        <label
          class="btn btn-outline-primary"
          for="btn-check-outlined-{{ i }}"
          >{{ type.value }}</label
        >
      </div>
    </div>

    <!-- Image Url Input -->
    <div class="mb-3">
      <label for="imageUrlInput" class="form-label">Image Url</label>
      <input
        type="text"
        class="form-control"
        id="imageUrlInput"
        ngModel
        name="imageUrl"
      />
    </div>

    <!-- Price Input -->
    <div class="mb-3">
      <label for="priceInput" class="form-label">*Price</label>
      <div class="input-group mb-3">
        <input
          type="number"
          class="form-control"
          aria-label="Amount (to the nearest dollar)"
          id="priceInput"
          ngModel
          name="price"
          required
        />
        <span class="input-group-text">₪</span>
      </div>
    </div>

    <!-- Signature Dish Input -->
    <div class="form-check form-switch signature-dish-container">
      <label class="form-check-label" for="signatureDishSwitch"
        >Signature Dish</label
      >
      <input
        class="form-check-input"
        type="checkbox"
        id="signatureDishSwitch"
        [ngModel]="false"
        name="signatureDish"
      />
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="activeModal.close('Close click')"
    >
      Close
    </button>
    <button
      type="submit"
      class="btn btn-outline-primary"
      [disabled]="!form.valid || !form.dirty"
    >
      {{ submitButtonText }}
    </button>
  </div>
</form>
