<div class="container-nav">
  <ul class="links-list">
    <li class="link-container">
      <a routerLink="/chefs" 
      class="link chef-link" routerLinkActive="active">
      </a>
    </li>
    <li class="link-container">
      <a
        routerLink="/restaurants"
        class="link restaurant-link"
        routerLinkActive="active"
      >
      </a>
    </li>

    <li class="link-container">
      <a routerLink="/dishes" 
      class="link dish-link" routerLinkActive="active">
      </a>
    </li>
  </ul>
</div>
