@import "../../assets/styles/setup/variables";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  background-color: #fafafa; 
  height: 100%;
  background-image: url("../../../assets/images/hero-picture@2x.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size:  fill;

  .logo {
    width: 40px;
    margin-bottom: 30px;
  }
}
