@import "../../assets/styles/setup/variables";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: center;
  padding: 10px 5px;
  background-color: #fafafa;
  height: 100%;
  background-image: url('../../../assets/images/hero-picture.png');
  background-position: center;
  background-repeat: no-repeat;
  
  .logo {
    width: 40px;
    margin-bottom: 30px;
  }
}
