@import "./variables";

@mixin align_center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@mixin text_style($size, $spacing, $weight: $noraml-font-weight) {
  font-size: $size;
  letter-spacing: $spacing;
  font-weight: $weight;
}

@mixin mobile {
  @media (min-width: 320px) and (max-width: 890px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 890px) {
    @content;
  }
}

@mixin title {
  font-size: $title-size;
  font-weight: 200;
  letter-spacing: 1.25px;
  margin-bottom: 15px;
}

@mixin hero_title_animation($width, $time) {
  animation: fade_title $time;

  @keyframes fade_title {
    from {
      opacity: 0;
      width: $width;
    }
    50% {
      opacity: 0;
    }
    to {
      width: $width;
    }
  }
}
