$font: "Roboto";

$side-bar-background-color: #f9f4ea;
$mobile-ard-background-color: #f7e0b2;
$mobile-nav-bar-button-color: rgb(232, 196, 122);
$white: #ffffff;
$gray-background: #fafafa;
$gray-line: #979797;
$opacity-white: rgba(255, 255, 255, 0.8);

$home-page-row-gap: 110px;

$title-size:1.4rem;
$normal-font-weight: 100;

$popular-restaurant-card-width-mobile:206px;
$popular-restaurant-card-height-mobile:310px;
$popular-restaurant-card-width-desktop:360px;
$popular-restaurant-card-height-desktop:330px;

$dish-card-width-mobile:210px;
$dish-card-height-mobile:378px;
$dish-card-width-desktop:350px;
$dish-card-height-desktop:630px;

$chef-restaurant-card-width-mobile:166px;
$chef-restaurant-card-height-mobile:250px;
$chef-restaurant-card-width-desktop:166px;
$chef-restaurant-card-height-desktop:250px;



