$font: "Roboto";
$normal-font-weight: 100;

$background-color: #2c3034;
$white-background-color: #f9f4ea;
$mobile-ard-background-color: #f7e0b2;
$mobile-nav-bar-button-color: rgb(232, 196, 122);
$white: #ffffff;
$gray-background: #fafafa;
$side-bar-background-color: $gray-background;
$gray-line: #979797;
$opacity-white: rgba(255, 255, 255, 0.8);
$active-navbar-color:#3f8145;


