<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="modal-header">
    <div class="mb">
      <h4 class="modal-title">{{ title }}</h4>
      <p>(* Required Fields)</p>
    </div>
    <button
      *ngIf="editMode"
      type="button"
      class="btn btn-outline-danger btn-delete"
      (click)="deleteItem()"
    >
      <img
        class="bi bi-trash svg-delete"
        src="assets/icons/trash.svg"
        alt="trash icon"
      />
    </button>
  </div>
  <div class="modal-body">
    <!-- Name Input -->
    <div class="mb-3">
      <label for="nameInput" class="form-label">*Name</label>
      <input
        ngbAutofocus
        type="text"
        class="form-control"
        id="nameInput"
        ngModel
        name="name"
        required
        [disabled]="editMode"
      />
    </div>

    <!-- Info Input -->
    <div class="mb-3">
      <label for="infoTextarea" class="form-label">Info</label>
      <textarea
        class="form-control"
        id="infoTextarea"
        rows="3"
        ngModel
        name="info"
      ></textarea>
    </div>

    <!-- Image Url Input -->
    <div class="mb-3">
      <label for="imageUrlInput" class="form-label">Image Url</label>
      <input
        type="text"
        class="form-control"
        id="imageUrlInput"
        ngModel
        name="imageUrl"
      />
    </div>

    <!-- Chef Of The Week Toggle -->
    <div class="form-check form-switch">
      <label class="form-check-label" for="chefOfTheWeekSwitch"
        >Chef Of The Week</label
      >
      <input
        class="form-check-input"
        type="checkbox"
        id="chefOfTheWeekSwitch"
        [ngModel]="false"
        name="chefOfTheWeek"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="activeModal.close('Close click')"
    >
      Close
    </button>
    <button
      type="submit"
      class="btn btn-outline-primary"
      [disabled]="!form.valid || !form.dirty"
    >
      {{ submitButtonText }}
    </button>
  </div>
</form>
